<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de Usuario</title>
    <link rel="icon" href="{{ url_for('static', filename='images/default.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css')}}">
</head>
<body>
    <h1>Te hemos registrado, aqui esta tu Informacion</h1>
    <hr>
    <h2>Nombre: {{ nombre }} </h2>
    <h2>Foto:</h2>
     <img src="{{ url_for('static', filename=session.get('archivo_url')) }}" alt="{{ url_for('static', filename='images/default.jpg')}}" style="max-width: 300px; border: 1px solid #ccc; padding: 5px; display: block; margin-bottom: 15px;">
    <h2>Email: {{ email }}</h2>
    <h2>Contraseña: {{ password }}</h2>
    <h2>Tipo de local: {{ tipo_local }}</h2>
    <h2>Horario de Atencion: {{ horario }}</h2>
    <h2>Descripcion: {{ descripcion }}</h2>

    <form action="/logout" method="post">
        <button type="submit" style="background-color: #ff4d4d; color: white; border: none; padding: 10px 15px; cursor: pointer; border-radius: 4px;">
            Cerrar Sesión y Salir
        </button>
    </form>

</body>
</html>