/* Para el inicio */
body {
    background-image: url(../images/backgrounds/inicio-bg.jpg);
    color: #ffffff;
}

#sec-1 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-1 header img {
    width: 600px;
    max-width: 100%;
    height: auto;
}

#sec-1 header h2 {
    color: #ffffff;
    font-size: 4em;
}

#elements, #sec-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#elements div h3 {
    text-align: center;
}

#sec-footer {
    flex-direction: column;
}

#sec-footer div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
}

#sec-footer a {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Móvil */
@media (max-width: 768px) {
    #sec-1 header h2 {
        font-size: 2.5em;
    }
    #sec-1 header img {
        width: 450px;
    }
    #elements {
        flex-direction: column;
    }
    #elements img {
        width: 100px;
    }
    #sec-footer div {
        gap: 10px;
    }
}
@media (max-width: 500px) {
    #sec-1 header h2 {
        font-size: 1.5em;
    }
    #sec-1 header img {
        width: 100%;
        max-width: 450px;
    }
    #elements img {
        width: 80px;
    }
    #sec-footer div {
        flex-direction: column;
    }
    #sec-footer a {
        font-size: 16px;
        padding: 8px 16px;
    }
}